/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --dropbox-primary: #b4d0e7;
    --dropbox-secondary: #0061ff;
    --dropbox-green: #a2d39b;
    --dropbox-l-green: #d1e9cd;
    --dropbox-d-red: #61082b;
    --dropbox-red: #d5001f;
    --dropbox-l-red: #ff1c1c;
    --dropbox-gray: #f5f5f5;
    --dropbox-l-blue: #0093ce;
    --dropbox-d-blue: #0d2481;
    --dropbox-yellow: #ffd830;
    --dropbox-white: white;
    --dropbox-black: black;
}

a{
    color: var(--dropbox-black);
}

img{
    max-width: 100%;
}

button{
    background: var(--dropbox-secondary);
    color: var(--dropbox-white);
    font-size: 1rem;
    border: none;
    padding: .75rem 1rem;
}

h1{
    font-size: 5rem;
    font-weight: 900;
    padding: 4rem 0;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 900;
}

h4{
    margin-bottom: .5rem;
}

h5{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
}

section{
    padding-top: 10rem;
}

hr{
    width: 20%;
    margin: 2.5rem 0;
    border-color: var(--dropbox-gray);
}
/* #endregion common */

/* #region utility */
.container{
    width: 62.5%;
    margin: auto;
}

.container-sm{
    width: 52%;
    margin: auto;
}

.row{
    display: flex;
}

.d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.just-between{
    justify-content: space-between;
}

.just-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.flex-column{
    flex-direction: column;
}

.bg-primary{
    background: var(--dropbox-primary);
}

.color-d-red{
    color: var(--dropbox-d-red);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-6{
    width: 50%;
}

.col-8p{
    width: calc(((100% + 10rem) / 12) * 8);
    /* BUG calcolo manuale */
}

.col-12{
    width: 100%;
}

.mt-3r{
    margin-top: 3rem;
}

.mt-6r{
    margin-top: 6rem;
}

.mt-9r{
    margin-top: 9rem;
}

.mb-1r{
    margin-bottom: 1rem;
}

.gap-3r{
    gap: 3rem;
}

.bg-green{
    background: var(--dropbox-green);
    border: 15px solid var(--dropbox-l-green);
}

.bg-d-red{
    background: var(--dropbox-d-red);
}

.bg-l-blue{
    background: var(--dropbox-l-blue);
}

.bg-l-red{
    background: var(--dropbox-l-red);
}

.bg-red{
    background: var(--dropbox-red);
}

.bg-primary{
    background: var(--dropbox-primary);
}

.bg-d-blue{
    background: var(--dropbox-d-blue);
}

.bg-yellow{
    background: var(--dropbox-yellow);
}
/* #endregion utility */

/* #region header */
#header{
    background: var(--dropbox-white);
    padding: 1.5rem;
    position: fixed;
    width: 100%;
}

#header button{
    padding: .5rem 1rem;
}

.header-left, .left-menu, .header-right, .right-menu{
    gap: 2rem;
}
/* #endregion header */

/* #region main */
.top-banner{
    padding: 1rem 0;
    padding-top: 5rem;
}

.top-banner button{
    margin: 2rem 0;
}

.top-banner i{
    font-size: 3rem;
    margin-top: 3rem;
}

.top-banner img{
    float: right;
    width: 70%;
}

section label{
    margin-right: 2rem;
}

.user-type{
    display: flex;
    justify-content: center;
    gap: .5rem;
    border: 1px solid lightgray;
    padding: .75rem 0;
}

.plan-type{
    border: 1px solid lightgray;
    border-top: none;
    padding: 2rem;
    height: 100%;
}

.plan-type li{
    font-size: .9rem;
}

.price-detail{
    color: gray;
}

.plan-type i{
    margin-right: .5rem;
}

.plan-type button{
    width: 100%;
}

.main-points{
    padding: 2.5rem 0;
}

.list-item{
    padding: .75rem 0;
}

.buy-now{
    padding-top: 2rem;
}

.link{
    text-decoration: underline;
    color: var(--dropbox-secondary);
}

.plus-points i{
    color: var(--dropbox-secondary);
}

.partner-img{
    width: 60%;
}

.partner-text{
    width: 40%;
    padding: 3rem;
}

.partner-text p{
    padding: 2rem 0;
}

.partner-text button{
    background: none;
    border: 1px solid var(--dropbox-black);
    color: var(--dropbox-black);
}

.plan-type-br-n{
    border-right: none;
}

.plan-type-bl-n{
    border-left: none;
}

.more-operations .col-4{
    width: calc(((100% - 6rem)/ 12) * 4);
}

.more-operations p{
    padding: 2rem 0;
}

.customer{
    aspect-ratio: 1;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer img{
    filter: invert(1);
}

.main-customer{
    padding: 3rem;
    background: var(--dropbox-gray);
}

.main-customer img{
    width: 50%;
}

section:nth-of-type(4){
    margin: 0;
    padding: 8rem 0;
}

section:nth-of-type(4) h2{
    margin: 0;
}

.btn-start-test{
    color: var(--dropbox-black);
    background: var(--dropbox-white);
    float: right;
    padding: .75rem 3rem;
}
/* #endregion main */

/* #region debug */
.debug #header{
    width: 100%;
    height: 80px;
    border: 1px solid red;
}

.debug #header .header-left{
    width: 30%;
    height: 80px;
    background: #cc00ff50;
}

.debug #header .header-right{
    width: 30%;
    height: 80px;
    background: #cc00ff50;
}

.debug .top-banner{
    width: 100%;
    height: 740px;
}

.debug section:nth-of-type(1){
    height: 2260px;
    border: 1px solid red;
}

.debug section:nth-of-type(2){
    height: 1290px;
    border: 1px solid red;
}

.debug section:nth-of-type(3){
    height: 515px;
    border: 1px solid red;
}

.debug section:nth-of-type(4){
    height: 640px;
    border: 1px solid red;
}

.debug section:nth-of-type(5){
    height: 360px;
    border: 1px solid red;
}

.debug section:nth-of-type(6){
    height: 725px;
    border: 1px solid red;
}

.debug #footer{
    height: 570px;
    background: black;
}
/* #endregion debug */